*{
  padding:0 px;
margin:o px;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;	
}
a{
  text-decoration:none ;
  color:black;
}
bady{
  font-family:Arial ;
  background:url("istockphoto-1345992449-2048x2048.jpg");
  background-size:100%;
}
a{
  list-style:none;

}
img{
  width:40px ;
}
input[type="checbox"]
{display:none ;}
nav{
  background-color: aliceblue;
  width: 350px;
  height:100% ;
  left:-350px ;
  position: absolute;
  transition:all.1s ;
}
input[type="checkbox"]:checked~nav
{
  transform:translate(350px) ;
}
a{
  color:blue;
  display: block;
  padding: 20px 5px;
}
a:hover{
background-color: rgb(176, 224, 230);
color: black;
}
label{
  
  padding:15px;
  position: absolute;
  z-index:1;
}
ul{
  top:70px;
  position:absolute;
width:100%;
  
}
p{
  color:white ;
  text-align:center;
}
h1{
  color: white;
  text-align: center;
}